<!-- add-annonces.component.html -->
<div class="container">
    <h2>Ajouter une annonce</h2>
    
    <form [formGroup]="annoncForm" (ngSubmit)="AddAnnonce()">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input id="titre" formControlName="titre" type="text" class="form-control" />
        <div *ngIf="submitted && annoncForm.controls['titre'].invalid" class="text-danger">
          Le titre est requis.
        </div>
      </div>
  
      <div class="form-group">
        <label for="fichier">Fichier</label>
        <input id="fichier" formControlName="fichier" type="file" (change)="onFileChange($event)" class="form-control" />
        <div *ngIf="submitted && annoncForm.controls['fichier'].invalid" class="text-danger">
          Le fichier est requis.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Ajouter l'annonce</button>
    </form>
  </div>
  