<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Table Commandes</strong>
      </c-card-header>
      <c-card-body>
        <table [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary text-center">Numéro</th>              
              <th class="bg-body-tertiary text-center">Date livraison</th>
              <th class="bg-body-tertiary text-center">Date heure clôture</th>
              <th class="bg-body-tertiary text-center">Valide ?</th>
              <th class="bg-body-tertiary text-center">Cmdorg</th>
              <th class="bg-body-tertiary text-center">Dépot</th>
              <th class="bg-body-tertiary text-center">Section</th>
              <th class="bg-body-tertiary text-center">Client</th>
              <th class="bg-body-tertiary text-center">Status</th>
              <th class="bg-body-tertiary text-center">Mode paiement</th>
              <th class="bg-body-tertiary text-center">Type commande</th>
              <th class="bg-body-tertiary text-center">Notif</th>
              <th class="bg-body-tertiary text-center">Ref cmd</th>
              <th class="bg-body-tertiary text-center">Code client</th>
              <th class="bg-body-tertiary text-center">Code dépot</th>
              <th class="bg-body-tertiary text-center">Code section</th>
              <th class="bg-body-tertiary text-center">Commentaire</th>
              <th class="bg-body-tertiary text-center">Date heure reprise</th>
              <th class="bg-body-tertiary text-center">Date heure clôture reprise</th>
              <th class="bg-body-tertiary text-center">Commande parent</th>
              <th class="bg-body-tertiary text-center">État reprise</th>
              <th class="bg-body-tertiary text-center">File CSV</th>
              <th class="bg-body-tertiary text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- @for (commande of paginatedUsers; track user.id; let i = $index) { -->
            <tr *ngFor="let commande of Commandes; let i = index" class="text-center">
              <td class="text-center">{{ (page - 1) * limit + i + 1 }}</td> 
              <td>{{ commande.dateliv }}</td>
              <td>{{ commande.dateheurecloture }}</td>
              <td>{{ commande.valide }}</td>
              <td>{{ commande.id_cmdorg }}</td>
              <td>{{ commande.id_depot }}</td>
              <td>{{ commande.id_section }}</td>
              <td>{{ commande.id_client }}</td>
              <td>{{ commande.id_status }}</td>
              <td>{{ commande.id_modepayement }}</td>
              <td>{{ commande.id_typecommande }}</td>
              <td>{{ commande.notif }}</td>
              <td>{{ commande.refcmde }}</td>
              <td>{{ commande.codeclient }}</td>
              <td>{{ commande.code_depot }}</td>
              <td>{{ commande.code_section }}</td>
              <td>{{ commande.commentaire }}</td>
              <td>{{ commande.dateheurereprise }}</td>
              <td>{{ commande.dateheurecloturereprise }}</td>
              <td>{{ commande.id_commandeparent }}</td>
              <td>{{ commande.etat_reprise }}</td>
              <td>{{ commande.filecsv }}</td>
              <td class="items-center text-center">
                <a >
                  <button type="submit" class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">Update</button>
                  <!-- <button (click)="scrollToForm(); getById(user.id)" class="btn btn-warning text-orange-300">Update</button> -->
                </a>
                <button type="submit" (click)="deleteCommande(commande.id)" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete</button>
          </td>
        </tr>
      
          </tbody>
        </table>

        <div class="pagination flex justify-between items-center mt-4">
          <button (click)="previousPage()" [disabled]="page === 1" class="btn btn-primary">Previous</button>
          <span>Page {{ page }} of {{ totalPages }}</span>
          <button (click)="nextPage()" [disabled]="page === totalPages" class="btn btn-primary">Next</button>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<div *ngIf="Commandes.length === 0">
  <p>No commandes found.</p>
</div>
